---
import List from "@/components/List.astro";
import Layout from "@/layouts/Layout.astro";

console.log(Astro, "31231231");
const items = new Array(10).fill(0);
---

<Layout title="Welcome to Astro.">
  <main class="md:px-16 box-border">
    {items.map((_, index) => <List key={index} />)}
  </main>
</Layout>

<!-- 修改文件 -->
