<div class="w-full p-2 box-border">
  <div>这是一个标题</div>
  <div class="flex gap-x-1">
    <span>这是时间</span><span>这是时间</span><span>这是分类</span><span
      >这是作者</span
    >
  </div>
  <div>
    这是文章的描述或者关键字或者开头的部分这是文章的描述或者关键字或者开头的部分这是文章的描述或者关键字或者开头的部分这是文章的描述或者关键字或者开头的部分这是文章的描述或者关键字或者开头的部分这是文章的描述或者关键字或者开头的部分
  </div>
</div>
